.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.speech:hover{
    color: red;
}
.stage-direction{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    color: orangered;
}
.stage-direction:hover{
    color: rgb(233, 21, 233);
}
.name{
    font-family: monospace;
    font-size: large;
    color: tomato;
}
.name:hover{
    color: yellow;
}
.LORD_ILLINGWORTH{
    color: purple;
}
.GERALD{
    color: rgb(162, 235, 16);
}