.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.speech:hover{
    color: red;
}
.stage-direction{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    color: orangered;
}
.stage-direction:hover{
    color: rgb(233, 21, 233);
}
.name{
    font-family: monospace;
    font-size: large;
    color: tomato;
}
.name:hover{
    color:darkolivegreen;
}
.LORD_ILLINGWORTH{
    color:blue;
}
.GERALD{
    color:maroon;
}



                table{
                    border: darkred;
                    text-align: left;
                    color: rgb(41, 2, 73);
                    border:1px solid black;
                }
                th{
                    border: 1px rgb(7, 201, 7);
                    text-align: left;
                    color: rgb(228, 228, 17);
                    border: 1px solid rgb(90, 182, 205);
                }
                td{
                    border: 1px rgb(205, 120, 50);
                    text-align: left;
                    color: teal;
                    border: 1px solid violet;
                }
                ul.navbar-horizontal {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    }
                    ul.navbar-horizontal li {
                    float:left; 
                    color:#000;
                    background-color:yellow;
                    }
                    ul.navbar-horizontal a {
                    display:block;
                    padding:8px}
                    ul.navbar-horizontal a:hover {
                    background-color: #555;
                    color:white;
                    }